C:\Users\grobinson\source\repos\CalTools\CalTools\Backup/
C:\Users\grobinson\source\repos\CalTools\CalTools\Pyinstaller/
C:\Users\grobinson\source\repos\CalTools\CalTools\build/
C:\Users\grobinson\source\repos\CalTools\CalTools\dist/
C:\Users\grobinson\source\repos\CalTools\CalTools\Checklist.txt/